body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  border: 2px solid black;
  margin-bottom: 10px;
  width: 30%;
  padding-left: 5px;
}s

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2vh;
}

form button {
  width: 50%;
  margin: 2vh auto;
}